{% extends "tasks/base.html" %}
{% block content %}

    <form method="POST" action="/">
        {% csrf_token %}
        {{ form.title }}
        <input class="btn btn-info" type="submit" value="Create Task" />
    </form>
    <div class="todo-list">
    {% for task in tasks %}
        <div class="item-row">
            <a class="btn btn-sm btn-info" href="{% url 'update-task' task.id %}">Update</a>
            <a class="btn btn-sm btn-danger" href="{% url 'delete-task' task.id %}">Delete</a>

            {% if task.completed == True %}
            <span><s>{{ task.title }}</s></span>
            {% else %}
            <span> {{ task.title }} </span>
            {% endif %}
        </div>
    {% endfor %}
    </div>
{% endblock content %}